<style>
label {
  display:inline;
}
</style>
<% flash[:error].inspect%>
<% if flash[:error].nil? == false %>
  <div id="error_explanation">
    <h2>
      Cannot Save Restuarant
    </h2>
    <%= pluralize(flash[:error].count, "Errors") %>
    <ul>
      <% flash[:full_messages].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <%= flash[:form].inspect %>
  <%  flash[:error] = nil %>
  <%  flash[:full_messages] = nil %>
  <% flash[:form]= nil %>
<% end %>
<%= form_with(model: @restaurant) do |form| %>
  <div class='form-group'>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div class='form-group'>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div class='form-group'>
    <%= form.label :address1 %><br>
    <%= form.text_field :address1 %>
  </div>

  <div class='form-group'>
    <%= form.label :address2 %><br>
    <%= form.text_field :address2 %>
  </div>

  <div class='form-group'>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
  </div>

  <div class='form-group'>
    <%= form.label :county %><br>
    <%= form.text_field :county %>
  </div>

  <div class='form-group'>
    <%= form.label :postcode %><br>
    <%= form.text_field :postcode %>
  </div>

  <div class='form-group'>
    <% @restaurant.inspect %>
    <% if @restaurant.image? %>
      Image Preview<br>
      <%= link_to(
          image_tag(
            @restaurant.image.small_thumb.url, class: 'img-thumbnail', alt: 'Image', id:'imgPreview'
          ),
          @restaurant.image.url, target: '_blank', title: 'View fullsize image'
         ) %>
      <br><br>
      <%
      # Display image if an image has already been upload for this restaurant
      # Image link to original image
      %>
    <% else %>
      <%= image_tag('placeholders/150x150.png', id:'blah', class: 'img-thumbnail', width:150) %>
    <% end %>

    <!-- <input type="file" name="restaurant[image]" id="file" class="inputfile" /> -->
    <%= form.label :image %><br>
    <%= form.file_field :image, id: "file" %>
    <%= form.hidden_field :image_cache %><br>


    <%
    # form.hidden_field :image_cache all image file to persist across redisplays.
    # This ensures that uploaded files do not disappear when a validation fails.
    %>
  </div>

  <div class='form-group'>
    <%= form.submit :value => 'Save Restaurant', class: 'btn btn-default' %>
  </div>
<% end %>
<%= link_to 'Back to Restaurants', restaurants_path, class: 'btn btn-default' %>
