

<h1>Restaurants</h1>
<%= link_to 'Add Restaurant', new_restaurant_path , class: 'btn btn-default' %>
<% if @restaurants.count > 0 %>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>City</th>
    <th>postcode</th>
    <th>Image</th>
    <th colspan='3'>Action</th>
  </tr>
  <% @restaurants.each do |restaurant| %>
    <tr id='<%= restaurant.id %>'>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.description %></td>
      <td><%= restaurant.city %></td>
      <td><%= restaurant.postcode %></td>
      <td>
        <% if restaurant.image? %>
          <%= image_tag(restaurant.image.small_thumb.url) %>
        <% else %>
          <%= image_tag('placeholders/150x150.png')%>
        <% end %>
      </td>
      <td><%= link_to 'Show', restaurant_path(restaurant) %></td>
      <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      <td><%= link_to 'Delete', restaurant_path(restaurant),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<% else %>
  <p> No restaurants avaliable </p>
<% end %>
