

<%= render 'shared/errors', object: @restaurant, 'object_name':'Restaurant' %>

<%= form_with scope: :restaurant, url: restaurants_path, local: true do |form| %>
  <div class='form-group'>
    <%= form.label :name %><br>
    <%= form.text_field :name ,class: 'form-control' ,placeholder: 'E.g. Lee Chinese' %>
  </div>

  <div class='form-group'>
    <%= form.label :description %><br>
    <%= form.text_area :description ,class: 'form-control' ,placeholder: 'E.g. Chinese' %>
  </div>

  <div class='form-group'>
    <%= form.label :address1 %><br>
    <%= form.text_field :address1 ,class: 'form-control' ,placeholder: 'E.g. 200 Cheam Road' %>
  </div>

  <div class='form-group'>
    <%= form.label :address2 %><br>
    <%= form.text_field :address2 ,class: 'form-control' ,placeholder: 'E.g. Sparcells' %>
  </div>

  <div class='form-group'>
    <%= form.label :city %><br>
    <%= form.text_field :city ,class: 'form-control' ,placeholder: 'E.g. Bristol' %>
  </div>

  <div class='form-group'>
    <%= form.label :county %><br>
    <%= form.text_field :county ,class: 'form-control' ,placeholder: 'E.g. Wiltshire' %>
  </div>

  <div class='form-group'>
    <%= form.label :postcode %><br>
    <%= form.text_field :postcode ,class: 'form-control' ,placeholder: 'E.g. EN1 DG2' %>
  </div>


<div class='form-group'>
  <%= form.label :image %><br>
  <%= image_tag('placeholders/150x150.png', id:'imgPreview', class: 'img-thumbnail') %><br><br>
  <%= form.label :image %><br>
  <%= form.file_field :image, id: 'file' %>
  <%= form.hidden_field :image_cache %><br>
</div>

  <div class='form-group'>
    <%= form.submit class: 'btn btn-default' %>
  </div>
<% end %>
<%= link_to 'Back to Restaurants', restaurants_path , class: 'btn btn-default'%>
