<!--
 Carrierwave also provides an image? method for
us to check whether an attachment is present at all
(the image method itself will never return nil,
even if the file is not present)
-->
<% @restaurant.inspect %>
<% if @restaurant.image?%>

<%= link_to(
    image_tag(
      @restaurant.image.small_thumb.url, class: 'img-thumbnail', alt: 'Image', id:'imgPreview'
    ),
    @restaurant.image.url, target: '_blank', title: 'View fullsize image'
   ) %>
<% else %>
  <%= image_tag('placeholders/150x150.png', class: 'img-thumbnail') %><br>
  No image avaliable<br><br>
<% end %>
<p>
  <strong>Name : </strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Text : </strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Address 1 : </strong>
  <%= @restaurant.address1 %>
</p>

<p>
  <strong>Address 2 : </strong>
  <%= @restaurant.address2 %>
</p>
<p>
  <strong>City / Town : </strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong>County : </strong>
  <%= @restaurant.county %>
</p>

<p>
  <strong>Post code : </strong>
  <%= @restaurant.postcode %>
</p>

<p>
  <strong>Average Rating: </strong><br>
  <span class='star-rating' data-score=<%= @avg_reviews %>></span>
  <br><%= @avg_reviews %>
</p>

<%= link_to 'View Restaurants', restaurants_path , class: 'btn btn-default'%>

<td><%= link_to 'Edit', edit_restaurant_path(@restaurant) , class: 'btn btn-default'%></td>
<td><%= link_to 'Delete', restaurant_path(@restaurant) , class: 'btn btn-default' %>


<div class='reviews'>
<h2>Reviews</h2>
<% if @restaurant.reviews.count > 0 %>
  <%= render @restaurant.reviews %>
<% else %>
  <p>No reviews avaliable for this restaurant</p>
<% end %>
</div>

<h2>Add a review:</h2>
<%= form_with(model: [ @restaurant, @restaurant.reviews.build ], local: true) do |form| %>
  <div class='form-group'>
    <%= form.label :comment %><br>
    <%= form.text_area :comment ,class: 'form-control', placeholder: 'Leave your feedback' %>
  </div>
  <div class='form-group'>
    <%= form.label :rating %><br>
    <%= form.select(:rating, 1..5,{},{class: 'form-control'}) %>
  </div>
  <div class='form-group'>
    <%= form.submit 'Create Review', :class => 'btn btn-default' %>
  </div>
<% end %>
