<!DOCTYPE html>
<html>
  <head>
    <title>Foodreview</title>

    <%= csrf_meta_tags %>
    <%= favicon_link_tag('favicons/favicon-96x96.png') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container-fluid'>
      <%= yield %>
    </div>
      <script>
      $(document).ready(function(){
        function readURL(input) {

          if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
              console.log(e.target.result);
              $('#imgPreview').attr('src', e.target.result).width(150);
            }

            reader.readAsDataURL(input.files[0]);
          }
        }

        $("#file").change(function() {
          readURL(this);
        });

        $('.star-rating').raty({
          path:     '/assets/reviews',
          readOnly: true,
          score:    function(){
            return $(this).attr('data-score');
          }
        });
      });

    </script>
  </body>
</html>
